*{
    margin: 0;
    padding: 0;
    border: none;
    /* border: solid 1px red; */
    box-sizing: border-box;
}

.placeholderDiv{
    height: calc(14vh + 5.1vh);
    width: 100vw;
    z-index: 0;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.lighter-shade {
    background-color: #283640;
    transition: background-color 0.3s ease;
}

.lighter-shade:active {
    background-color: #405060; /* Change this to the desired lighter shade */
}

.mainSearchContainer{
    border-color: #fff;
    background: #fff;
    width: 100vw;
    height: 14vh;
}

/* .subCenterContainer{

} */

.toggleView{
    border-radius: 3px;
    background: #283640;
    color: #fff;
    /* border-color: plum; */
    height: 5.6vh;
    width: 9.2vw;
    /* margin: 4.48vh 0 0 3.2vw; */
}

.searchBarDiv{
    position: relative;
    /* margin: 4.48vh 0 0 0.8vw; */
    margin: 0 0 0 0.8vw;
}

.fa-magnifying-glass {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
    margin-top: 1.6vh;
    margin-left: 1.2vw;
    color: #283640;
}

.searchInput{
    border-radius: 3px 0px 0px 3px;
    padding-left: 3.92vw;
    background: #F2F2F2;
    color: #283640;
    height: 5.6vh;
    width: 68.4vw;
}

.searchInput:focus {
    outline-color: #283640;
}


.searchInput::placeholder {
    /* padding-left: 1.2vw; */
    color: #283640;
}

/* textarea.searchInput::placeholder {
    padding-left: 1.2vw; 
} */

.searchSubmitButton{
    border-radius: 0px 3px 3px 0px;
    background: #283640;
    color: #fff;
    height: 5.6vh;
    width: 9.2vw;
}

.filterDataButton{
    background: #283640;
    border-color: green;
    border-radius: 3px;
    height: 5.6vh;
    width: 4vw;
    /* margin: 4.48vh 0 0 1.76vw; */
    margin: 0 0 0 0.8vw /*1.76vw;*/
}

.fa-arrow-down-wide-short{
    /* color: #283640; */
    color: #F2F2F2;
}

.fa-grip{
    margin-right: 0.2vw;
}

.subSearchContainer{
    height: 5.1vh;
    width: 100vw;
    border-top: 2px solid #F2F2F2;
    background: #FFF;
    border-bottom: 0px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 8px;
    position: relative;
}

.infoTotalDisplay{
    border-color: rgb(255, 164, 164);
    font-size: 15px;
}

.selectTotalInfoDisplay{
    border-color: rgb(61, 164, 61);
    height: 2.9vh;
    width: 9.4vw;
}

.infoTotalDisplaySelected{
    border-color: rgb(255, 164, 164);
    font-size: 15px;
}

.selectTotalInfoDisplay{
    border: solid #283640 1px;
    border-radius: 3px;
    background: transparent;
    color: #283640;
    height: 2.9vh;
    width: auto;
    padding: 3px;
    font-size: 10px;
    margin: 0.84vw;
}

.infoTotalDisplaySelected{
    font-size: 10px;
}

.action-button{
    border: solid #283640 1px;
    padding: 3px;
    border-radius: 3px;
    background: transparent;
    color: #283640;
    height: 2.9vh;
    width: 4.4vw;
    font-size: 10px;
    margin: 0.84vw;
}

.selectTotalDisplayButton{
    border: solid #283640 1px;
    padding: 3px;
    border-radius: 3px;
    background: transparent;
    color: #283640;
    height: auto;
    width: auto;
    font-size: 10px;
    margin-left: 0.5vw;
}

.action-buttons-container{
    position: absolute;
    right: 0;
    margin-right: 3.36vw;

}

.infoContainer{
    position: absolute;
    left:0;
    margin-left: 3.36vw;
}