<div style="position: fixed; ">
    <div class="mainSearchContainer flex ">
        <div class="subCenterContainer flex">
            <button class="toggleView flex"><i class="fa-solid fa-grip"></i><p>View</p></button>
            <div class="searchBarDiv flex">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input placeholder="Search" type='text' class="searchInput" (keyup)="search($event)">
                <button class="searchSubmitButton">Search</button>
            </div>
            <button class="filterDataButton"><i class="fa-solid fa-arrow-down-wide-short"></i></button>
        </div>
    </div>
    <div class="subSearchContainer flex">
        <p class="infoTotalDisplay">reading 30 of 50</p>
        <div class="selectTotalInfoDisplay flex">
            <p class="infoTotalDisplaySelected">show 30</p>
            <button class="selectTotalDisplayButton">^</button>
        </div>
        <div class="action-buttons-container Flex">
            <button class="import-button">Import</button>
            <button class="export-button">Export</button>
            <button class="new-button">New</button>
          </div>
    </div>
</div>
<div class="placeholderDiv"></div>